:root {
  --blue: #2e3192;
  --grey: #09a2a2;
}

.bg-blue {
  background-color: var(--blue);
}

.text-blue {
  color: var(--blue);
}

.text-grey {
  color: var(--grey);
}

.border-grey {
  border-color: var(--grey);
}

.navbar {
  z-index: 1000;
}
