* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}
.maindiv {
  width: 100%;
  background-color: rgb(25, 188, 200);
  position: fixed;
  top: 0px;
  display: flex;
  justify-content: space-between;
}
.maindiv .res-menu {
  width: 80px;
  padding: 5px;
}
.maindiv .res-menu .navlogo img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  transition: 0.5s;
}
.maindiv .res-menu .navlogo img:hover {
  transform: rotate(360deg);
}
.maindiv .middlediv {
  display: none;
}
.maindiv .lastdiv a {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px 5px;
  text-decoration: none;
  font-size: 20px;
  background: yellow;
  color: black;
  border: 1px solid green;
  border-radius: 20px;
}
.maindiv .lastdiv a:hover {
  background-color: black;
  color: white;
}
.main img {
  width: 100%;
}
.main h2 {
  margin: 10px 0 30px 10px;
  font-size: 25px;
}
.image img {
  width: 300px;
  margin: 0 20px;
}
.image {
  display: flex;
  width: 100%;
}
.image div {
  margin: 0 10px;
  text-align: justify;
  font-size: 18px;
  font: Arial;
  text-transform: capitalize;
}
.product {
  width: 100%;
  margin: 20px 5px;
  background: #44444480;
  padding: 20px;
  width: 100%;
}
.shop {
  background: white;
  margin: 10px;
  padding: 10px;
}
.shop:hover {
  background: #ffffff90;
}
h4 {
  font-size: 30px;
  margin: 10px 20px;
}
.product a {
  text-decoration: none;
  text-transform: capitalize;
}
.product h3 {
  text-align: center;
  font-size: 25px;
}
.shop img {
  width: 100%;
  height: 150px;
}
.product .gallery {
  width: 100%;
  column-count: 4;
  column-gap: 5px;
  margin: 0 auto;
}
.product .gallery .shop p {
  text-align: center;
  font-size: 18px;
}
@media (max-width: 1020px) {
  .maindiv .middlediv {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
  }
  .maindiv .middlediv label {
    display: block;
    width: 80px;
    height: 100%;
    padding: 20px;
  }
  .maindiv .middlediv label span {
    display: block;
    width: 30px;
    height: 10px;
    border-top: 5px solid black;
  }
  .maindiv .lastdiv {
    position: absolute;
    top: 70px;
    left: 0;
    background-color: rgb(25, 200, 25);
    width: 100%;
    height: 0;
    overflow: hidden;
  }
  .maindiv .lastdiv a {
    display: block;
    width: 100%;
  }
  #resnavbar-type:checked ~ .lastdiv {
    height: 250px;
    overflow: auto;
  }
  .product .gallery {
    width: 100%;
    column-count: 2;
    column-gap: 10px;
    margin: 0 auto;
  }
  .shop {
    margin-bottom: 20px;
  }
}
