* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  margin: 15px auto;
}
.containerbox {
  display: flex;
}
.card {
  box-shadow: 0 0 15px #333;
  overflow: hidden;
  position: relative;
  margin: 10px;
}
img {
  height: 300px;
  width: 350px;
  object-fit: contain;
  object-position: left;
}
.content {
  position: absolute;
  background: #000;
  color: white;
  padding: 10px;
  line-height: 25px;
  text-align: justify;
  font-family: Verdana;
  border-top-left-radius: 15%;
  border-top-right-radius: 50%;
  bottom: -80%;
  left: 0;
  transition: 0.5s;
  height: 300px;
}
.content:hover {
  bottom: 0;
}
.content h2 {
  padding: 10px;
  color: tomato;
}
.content p {
  padding: 5px;
}
.content a {
  text-decoration: none;
  color: orange;
}
.content a:hover {
  color: #ccc;
}
.content button {
  border: none;
  outline: none;
  background: linear-gradient(45deg, pink, purple);
  height: 50px;
  cursor: pointer;
  font-size: 15px;
  font-family: Verdana;
  color: white;
  border-radius: 5px;
  font-weight: bolder;
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
}
.content button:hover {
  background: linear-gradient(-45deg, pink, purple);
}
@media (max-width: 1024px) {
  .containerbox {
    display: block;
  }
  img {
    width: 100%;
  }
}
